$primary-color:#152350;
$secondary-color:#9fa3cc;
$tertiary-color:#c8d5f3;


$opacity-primary-color:rgba($primary-color, 0.5) ;
$opacity-secondary-color:rgba($secondary-color, 0.5) ;
$opacity-tertiary-color: rgba($tertiary-color, 0.5);