.contacto-hero {
    height: 30vh;
    width: 100%;
    background-image: url(../../src/img/servicios-en-destino.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    @include centrarDiv;
    justify-self: center;
    justify-content: center;
    color: $opacity-tertiary-color;

    h1 {
        padding: 2rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(4px);
        background-color: rgba(0, 0, 0, 0.39);
    }

}
.contacto{
    width: 80%;
    @include centrarDiv;
.contacto-content {
    display: flex;
    flex-direction: row;
    
    text-align: left;
    .contacto-info {
            display: flex;
            flex-direction: column;
            align-items: start;
            padding: 4rem 0 0 4rem;
            width: 60%;
           
            h2{
                align-self:center;
                padding: 0 0 2rem 0;
            }
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                text-align: left;
                border: 0px;
                li {
                    padding: 5px 0 0 0;
                    ul{
                       
                        padding: 0;
                        li:nth-child(1){
                            font-weight:bolder;
                        }
                    }
                }
            }
        }
        .img-d-3-container{
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 350px;
                height: 350px;
            }
        }
 
    }

.contacto-map-form{
    
    @include centrarDiv;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 4rem 0 ;
    gap: 2rem;
    .contacto-map {
        display: flex;
        flex-direction: column;

        align-items: center;
        gap: 2rem;
      
        iframe{
            
            max-width: 1000px;
            min-height: 500px;
            width: 800px;
            padding: 0;
        }
    }
    .form{
        padding: 0 2rem;
        max-width: 650px;
        width: 40%;
        height: 100%;
    }
}}